body {
    background-color: #F5F5F5;
    text-align: center;
}

h1{
    font-size: 200%;
    margin-bottom: 0;
}

canvas{
    display: flex;
}

div, form {
    display: inline-block;    
}

table {
    display: inline-block;
    padding: 1%;
}

td {
    border: 1px solid black;
    width: 5vh;
    height: 5vh;
    font-size: 4vh;
}

button, select, input, .upload-btn{
    display: inline-block;
    width: 22%;
    height: 7vh;
    font-size: 4vh;
    border-radius: 10px;
    border: 1px solid black;
}

.upload-btn{
    position: absolute;
    width: 6%;
}

.upload-btn i{
    position: relative;
    top: 15%;
}

.panel {
    width: 40%;
    height: 55vh;
    border: 1px solid black;
    border-radius: 10px;
}

#wordInput {
    display: block;
    position: relative;
    left: 6%;
    margin: 10px;
}

#wordTable{
    display: block;
    position: relative;
    left: 6%;
    border-collapse: collapse;
    display: none;
}

#wordIndex td, #wordChar td{
    border: 1px solid black;
    width: auto;
    height: auto;
    font-size: 3vh;
    padding: 5px;
}

.control {
    margin-top: 20px;
    width: 28%;
    height: 10vh;
    /*border: 1px solid black;
    border-radius: 10px;*/
}

.popup{
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    padding: 2vh;
    background-color: #fff;
}

.popup button,
.popup select,
.popup input,
.popup label,
.popup textarea{
    display: inline;
    width: auto;
    font-size: 4vh;
    border-radius: 10px;
    margin: 2px;
}

#btExercicio{
    width: 25%;
}