#grafo {

    width: 70vw;
    height: 70vh;
}

.quadro {
    border: 3px solid #B0E0E6;
    display: block;
}

body {
    display: flex;
    background-color: #F0FFFF;
}

td,
th {
    vertical-align: top;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu {
    border-radius: 5px;
}

table {
    display: inline-block;
}

.pilha {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
    margin: 5px;
    margin-top: 15px;
    max-height: 10vw;
    overflow-y: auto;
    display: none;
}

.prato {
    border-collapse: collapse;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
}

.palavra,
.caracter {
    border: 1px solid black;
    /* desenha uma borda preta */
    border-collapse: collapse;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
}

.palavra {
    max-width: 45vw;
    overflow-x: auto;
}

#debugArea {
    display: none;
}

.foco {
    background-color: green;
}

button,
#importar {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    border: 2px solid #3498db;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 5px #3498db;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    margin: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

h1 {
    margin: 5px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #3498db,
        1px -1px 0 #3498db,
        -1px 1px 0 #3498db,
        1px 1px 0 #3498db;
    display: inline;
}

h2 {
    margin-left: 10px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group input[type="radio"] {
    display: none;
    /* esconde o radio original */
}

.radio-group label {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: sans-serif;
    transition: all 0.2s;
    background-color: #007BFF;
    color: white;
}

.radio-group input[type="radio"]:checked+label {
    background-color: #F0FFFF;
    border: 2px solid #007BFF;
    color: #007BFF;
}

#botao_fecha {
    width: 20px;
    height: 20px;

    border: 1px solid black;

    color: black;
}